WebContent/A_WebServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
 This WSDL file was automatically generated by 4D/15.0.4 on 2018-12-13T08:48:38+01:00
--><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.4d.com/namespace/default" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="A_WebService" targetNamespace="http://www.4d.com/namespace/default">
<message name="GetEvenementsRequest"> </message>
<message name="EventAddRequest">
<part name="dateevent" type="xsd:string"/>
<part name="objetvent" type="xsd:string"/>
<part name="lieuevent" type="xsd:string"/>
<part name="hdebvent" type="xsd:string"/>
<part name="hfinvent" type="xsd:string"/>
<part name="struserid" type="xsd:string"/>
</message>
<message name="GetEvenementsByIDRequest">
<part name="UserID" type="xsd:string"/>
</message>
<message name="GetEvenementsByUserRequest">
<part name="UserID" type="xsd:int"/>
</message>
<message name="UserAddRequest">
<part name="nom" type="xsd:string"/>
<part name="prenom" type="xsd:string"/>
<part name="email" type="xsd:string"/>
</message>
<message name="GetUsersRequest"> </message>
<message name="GetEvenementsByDatesRequest">
<part name="UserID" type="xsd:int"/>
<part name="DateFrom" type="xsd:string"/>
<part name="DateTo" type="xsd:string"/>
</message>
<message name="GetEvenementsResponse">
<part name="ExitString" type="xsd:string"/>
</message>
<message name="EventAddResponse">
<part name="CreateIsDone" type="xsd:string"/>
</message>
<message name="GetEvenementsByIDResponse">
<part name="ExitString" type="xsd:string"/>
</message>
<message name="GetEvenementsByUserResponse">
<part name="ExitString" type="xsd:string"/>
</message>
<message name="UserAddResponse">
<part name="FourD_arg0" type="xsd:string"/>
</message>
<message name="GetUsersResponse">
<part name="ExitString" type="xsd:string"/>
</message>
<message name="GetEvenementsByDatesResponse">
<part name="ExitString" type="xsd:string"/>
</message>
<portType name="A_WebServiceRPC">
<operation name="GetEvenements">
<input message="tns:GetEvenementsRequest"/>
<output message="tns:GetEvenementsResponse"/>
</operation>
<operation name="EventAdd">
<input message="tns:EventAddRequest"/>
<output message="tns:EventAddResponse"/>
</operation>
<operation name="GetEvenementsByID">
<input message="tns:GetEvenementsByIDRequest"/>
<output message="tns:GetEvenementsByIDResponse"/>
</operation>
<operation name="GetEvenementsByUser">
<input message="tns:GetEvenementsByUserRequest"/>
<output message="tns:GetEvenementsByUserResponse"/>
</operation>
<operation name="UserAdd">
<input message="tns:UserAddRequest"/>
<output message="tns:UserAddResponse"/>
</operation>
<operation name="GetUsers">
<input message="tns:GetUsersRequest"/>
<output message="tns:GetUsersResponse"/>
</operation>
<operation name="GetEvenementsByDates">
<input message="tns:GetEvenementsByDatesRequest"/>
<output message="tns:GetEvenementsByDatesResponse"/>
</operation>
</portType>
<binding name="A_WebServiceBinding" type="tns:A_WebServiceRPC">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="GetEvenements">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#GetEvenements"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
<operation name="EventAdd">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#EventAdd"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
<operation name="GetEvenementsByID">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#GetEvenementsByID"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
<operation name="GetEvenementsByUser">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#GetEvenementsByUser"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
<operation name="UserAdd">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#UserAdd"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
<operation name="GetUsers">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#GetUsers"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
<operation name="GetEvenementsByDates">
<documentation>no documentation is available</documentation>
<soap:operation soapAction="A_WebService#GetEvenementsByDates"/>
<input>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</input>
<output>
<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.4d.com/namespace/default" use="encoded"/>
</output>
</operation>
</binding>
<service name="A_WebService">
<documentation/>
<port binding="tns:A_WebServiceBinding" name="A_WebServicePort">
<soap:address location="http://localhost:8080/Test/services/A_WebServicePort"/>
</port>
</service>
</definitions>
